ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-right: 1px solid #f3f3f3;
  background-color: #f3f3f3;
}

li {
  float: left;
  border-right: 2px solid #f3f3f3;
}

li a {
  display: block;
  color: rgb(52, 153, 248);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #ddd;
}

li a.active {
  color: white;
  background-color: rgba(12, 170, 209, 0.616);
}
