<h3>Commission Rogatoire</h3>


<div class="container">
    <label for="form1Prenom">Prénom</label>
    <input [(ngModel)]="form1Prenom" type="text" id="form1Prenom" name="form1Prenom" placeholder="..." >

    <label for="form1Nom">Nom</label>
    <input [(ngModel)]="form1Nom" type="text" id="form1Nom" name="form1Nom" placeholder="..." >

    <label for="form1LieuDate">Lieu, le ...(date)</label>
    <input [(ngModel)]="form1LieuDate" type="text" id="form1LieuDate" name="form1LieuDate" placeholder="..." >

    <label for="form1AutoriteJudiciaire">A l'autorité judiciaire compétente pour la localité de ... /pays ou toute autre autorité</label>
    <input [(ngModel)]="form1AutoriteJudiciaire" type="text" id="form1AutoriteJudiciaire" name="form1AutoriteJudiciaire" placeholder="..." >

    <label for="form1PresenteePar">Commission rogatoire présentée par</label>
    <input [(ngModel)]="form1PresenteePar" type="text" id="form1PresenteePar" name="form1PresenteePar" placeholder="..." >

    <label for="form1Traite">aux termes du Traité</label>
    <input [(ngModel)]="form1Traite" type="text" id="form1Traite" name="form1Traite" placeholder="..." >

    <label for="form1InfoPersonneSujetteProcedure">dans le cadre de l'instruction pénale dirigée contre:
    Nom, prénom, filiation, origine, état civil, etc....</label>
    <input [(ngModel)]="form1InfoPersonneSujetteProcedure" type="text" id="form1InfoPersonneSujetteProcedure" name="form1InfoPersonneSujetteProcedure" placeholder="..." >

    <label for="form1FaitsPrevenus">prévenus de....</label>
    <input [(ngModel)]="form1FaitsPrevenus" type="text" id="form1FaitsPrevenus" name="form1FaitsPrevenus" placeholder="..." >

    <label for="form1ResumeDesFaits">Résumé des faits</label>
    <input [(ngModel)]="form1ResumeDesFaits" type="text" id="form1ResumeDesFaits" name="form1ResumeDesFaits" placeholder="..." >

    <label for="form1QualificationJuridiqueDesFaits">Qualification juridique des faits</label>
    <input [(ngModel)]="form1QualificationJuridiqueDesFaits" type="text" id="form1QualificationJuridiqueDesFaits" name="form1QualificationJuridiqueDesFaits" placeholder="..." >

    <label for="form1ObjetDeLaRequete">Objet et motif de la requête</label>
    <input [(ngModel)]="form1ObjetDeLaRequete" type="text" id="form1ObjetDeLaRequete" name="form1ObjetDeLaRequete" placeholder="..." >

    <label for="form1Sujet">Sujet</label>
    <textarea [(ngModel)]="form1Sujet" id="form1Sujet" name="form1Sujet" placeholder="Write something.." style="height:200px" ></textarea>

    <div>
    <button class="button" name="button" value="Brouillon" (click)="addFormBrouillon()">Enregister en tant que brouillon</button>
    <button class="button" name="button" value="Complete" (click)="addFormComplete()">Enregister en tant que document complété</button>
    </div>

</div>
