<div class="title">
 <h1> Informations sur le projet Thémis</h1>
</div>
<div class="contenu">
  <h3>Contexte</h3>
  <p> Ce projet a été réalisé par des élèves de CentraleSupélec en relation avec SopraSteria.  </p>
  <h3>But</h3>
   <p> Le but du projet est de créer un assistant de reconnaissance vocal qui permettrait de faciliter le travail du juge d'instruction notamment sur des tâches administratives.  </p>
   <h3>Contenu & Utilisation</h3>
   <p> Sur cette plateforme vous trouverez différentes fonctionalités  </p>

   <ul>
       <li> Une fonction de reconnaissance vocale dans l'entête, à activer en appuyant sur le bouton dédié  </li>
       <li> Une liste de documents qui peuvent être accédés au travers de la platerforme </li>
       <li> Les différents templates de documents pouvant être remplis</li>
    </ul>
    <h3>Technologies utilisées</h3>
    <p>Afin de construire notre outil nous avons utilisé 3 technologies : Angular, Node et Microsoft Azure (LUIS service).</p>
</div>
