<h2>
  Liste des documents enregistrés
</h2>
<br>

<table>
  <tr>
    <th>Dernière modif</th>
    <th>Prénom</th>
    <th>Nom</th>
    <th>Personne sujette à la procédure</th>
    <th>Résumé des faits</th>
    <th>Statut document</th>
    <th></th>
  </tr>
  <tr *ngFor='let form of documentList' >
    <td>{{form.form1DateLastModified}}</td>
    <td>{{form.form1Prenom}}</td>
    <td>{{form.form1Nom}}</td>
    <td>{{form.form1InfoPersonneSujetteProcedure}}</td>
    <td>{{form.form1ResumeDesFaits}}</td>
    <td>{{form.form1Statut}}</td>
    <td><button class="button" name="link to document" value="link to document" (click)="redirectButton(form._id)" >Ouvrir</button></td>
  </tr>

</table>
