<h3>Formulaire 1</h3>

<div class="container">
  <form action="/action_page.php">
    <label for="fname">Prénom</label>
    <input type="text" id="fname" name="firstname" placeholder="Your name..">

    <label for="lname">Nom</label>
    <input type="text" id="lname" name="lastname" placeholder="Your last name..">

    <label for="country">Exemple choix multiple</label>
    <select id="country" name="country">
      <option value="australia">A</option>
      <option value="canada">B</option>
      <option value="usa">C</option>
    </select>

    <label for="subject">Sujet</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">
  </form>
</div>
